h1 {
  font-size: 2em;
  color: #A9A9A9;
  margin-bottom: 0;
  margin-left: 0.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  vertical-align: middle;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

.title-div {
  background-color: #CAEBF2;
  height: 3em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

