p {
  color: #A9A9A9;
}
.row {
  max-width: 1600px;
  height: 5em;
  border-bottom: 1px solid;
  margin-left: -8px;
}
.name {
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.name-block {
  font-size: 0.7em;
  top: 50%;
  height: 4em;
  top: 1.5em;
  line-height: 0.4em;
}
.countdown-block {
  font-size: 2.5em;
  height: 100%;
  padding: 0;
}
.countdown {
  float: right;
  position: relative;
  top: 0.2em;
  padding-right: 0.3em;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.status-open .fa {
  color: #76c9dd;
}
.status-closed .fa {
  color: #FF3B3F;
}
@media screen and (max-width: 350px) {
  .name {
    font-size: 1em;
  }
}