<h3>Top Exchanges</h3>
<p>{{ myDate | amUtc | amDateFormat: 'ddd Do HH:mm:ss' }}</p>
<div class="grid grid-pad">
  <a *ngFor="let exchange of exchanges" [routerLink]="['/detail', exchange.id]" class="col-1-4">
    <div class="module exchange">
      <h4>{{exchange.name}}</h4>
      <span>Current time: {{exchange.time}}</span>
      <span *ngIf="exchange.open_status == true">Open</span>
      <span *ngIf="exchange.open_status == false">Closed</span>
      <!-- <p>{{myDate | amTimezone:'Israel' | amDateFormat: 'HH:mm:ss'}}</p> -->
    </div>
  </a>
</div>
