a {
  color: inherit;
}

p {
  color: #A9A9A9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
  margin: 1em;
  padding: 0;
}

li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8em;
}

.exchange {
  margin-bottom: 2em;
}

.exchange-block {
  background-color: #EFEFEF;
  border-style: solid;
  border-color: #A9A9A9;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  /*margin-right: 1em;*/
}

.time-block {
  border-bottom-style: solid;
  border-color: #A9A9A9;
}
.time-text, .countdown, .card-title{
  text-align: center;
}

.exchange-name {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.opening-in {
  position: relative;
  margin-bottom: 0em;
}

.countdown {
  font-size: 3em;
}

.status-block {
  width: 100%;
  height: 4em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  position: relative;
  line-height: 2em;
}

.status-block ul {
  position: absolute;
  top: 50%;
  height: 4em;
  margin-top: -2em;
}

.status-open .status-text {
  color: #A9A9A9;
}

.status-closed .status-text {
  color: #EFEFEF;
}

.countdown-open {
  color: #76c9dd;
}

.countdown-closed {
  color: #FF3B3F;
}

.status-open {
  background-color: #CAEBF2;
}

.status-closed {
  background-color: #FF3B3F;
}