<div class="container-fluid">
  <ngb-tabset activeId={{location}}>
    <h1>title</h1>
    <ngb-tab id="/dashboard">
      <template ngbTabTitle>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </template>
      <template ngbTabContent>

      </template>
    </ngb-tab>

    <ngb-tab id="/compact">
      <template ngbTabTitle>
        <a routerLink="/compact" routerLinkActive="active">Compact View</a>
      </template>
      <template ngbTabContent>

      </template>
    </ngb-tab>
    
    <ngb-tab id="/contact" title="Contact us" [disabled]=true>
      <template ngbTabTitle>
        <!--<a routerLink="/contact" routerLinkActive="active">Contact us</a>-->
      </template>
      <template ngbTabContent>

      </template>
    </ngb-tab>

  </ngb-tabset>
</div>